body {
	font-family: "Open Sans", sans-serif;
	background-color: #ffffff;
}


h1 {
	font-family: "Orbitron", sans-serif;
	font-size: 2em;
	font-weight: 700;
	color: #ff0000;
}

h2 {
	font-family: "Orbitron", sans-serif;
	font-size: 1.5em;
	font-weight: 700;
	color: #ff0000;
}

h3 {
	font-family: "Open Sans", sans-serif;
	font-size: 1.25em;
	font-weight: 700;
	color: #000000;
}

h4 {
	font-family: "Open Sans", sans-serif;
	font-weight: 700;
	color: #000000;
}

li{
	list-style: none;
	padding:0;
}

p {
	color: #000000;
}

a {
	color: #990000;
}

a:visited {
	color: #ff8000;
}

a:hover {
	color: #ff0000;
}

figure{
	display: inline-block;
	padding: 0em;
}

/*HOME PAGE CUSTOM HEADING*/
.image-text{
	position:absolute;
	top: 200px;
	padding: 0em 0em 0em 3em;
	left: 0;
	width: 100%;
	color: #ffffff;
}

/*HOME PAGE MAIN IMAGE*/
.home-mainimage{
	position: relative;
	width: 100%;
}

/*HOME PAGE SUB IMAGE*/
.home-subimage{
	float:left;
	position: relative;
	display:inline-block;
	width: 50%;
}

/*NEWSFEED HUB PAGE IMAGE*/
.newsfeed-image{
	float:left;
	position: relative;
	display:inline-block;
	padding: 1em;
	width: 50%;
}

/*NEWSFEED ARTICLE PAGE IMAGE*/
.news-articleimage{
	float:left;
	position: relative;
	display:inline-block;
	padding: 1em;
	width: 50%;
}

/*HOME PAGE SUB IMAGE*/
.news-text{
	float:left;
	position: relative;
	padding: 1em;
	width: 100%;
}

/*EMBEDDED TEXT ON HOME PAGE MAIN IMAGES*/
.home-mainimage p{
 	position: absolute;
 	background-color: black;
 	font-size: 20px;
    left: -0.5%;
    top: 85%;
    padding: 20px;
    width: 50%;
    color: #FFF;
    margin: 5px;
}

/*EMBEDDED TEXT ON HOME PAGE SMALL IMAGES*/
.home-subimage p{
 	position: absolute;
 	background-color: black;
 	font-size: 20px;
    left: 0%;
    top: 80%;
    padding: 10px;
    width: 75%;
    color: #FFF;
    margin: 0px;
}

/*EMBEDDED TEXT ON HOME PAGE SMALL IMAGES*/
.newsfeed-image p{
 	position: absolute;
 	background-color: black;
 	font-size: 20px;
    left: 0%;
    top: 80%;
    padding: 10px;
    width: 75%;
    color: #FFF;
    margin: 0px;
}

/*EMBEDDED TEXT ON HOME PAGE SMALL IMAGES*/
.page-nav{
	display: inline;
	padding: 1em;
	margin-bottom: 1px;
	color: #ffffff;
	background-color: #990000;
	text-decoration: none;
	width: 100%;
	-webkit-transition: background-color 0.5s ease-out;
	transition: background-color 0.5s ease-out;
}


.button-nav, .nav-toggle {
	display: inline-block;
	padding: 0.5em 4em;
	color: #ffffff;
	background-color: #990000;
	text-decoration: none;
	width: 100%;
	-webkit-transition: background-color 0.5s ease-out;
	transition: background-color 0.5s ease-out;
}


.button-nav:hover {
	color: #ffffff;
	background-color: #000000;
}

.button-nav:visited {
	color: #ffffff;
}

.button-order {
	display: inline-block;
	padding: 0.5em 2em;
	margin: 0.5em 0em;
	color: #ffffff;
	background-color: #990000;
	text-decoration: none;
	-webkit-transition: background-color 0.5s ease-out;
	transition: background-color 0.5s ease-out;
}


.button-order:hover, .button-order:focus {
	color: #ffffff;
	background-color: #ff0000;
}

.button-order:visited {
	color: #ffffff;
}

/*this is for buttons that are inactive until certain actions are done.*/

.unavailable, .unavailable:hover, .unavailable:focus, .unavailable:visited {
	background-color: #cccccc;
}

.button-bentobox:hover, .button-bentobox:focus {
	background-color: #990000;
}

.button-bentobox:visited {
	background-color: #000000;
}

.selected-bentobox {
	background-color: #990000;
}

.icon-size {
	width: 100%;
	height: 100%;
}

.productpage-img {
	width: 50%;
}

.progressbar {
	width: 288px;
	height: 72px;
}

/*new content*/
.footer{
	background-color: #990000;
    color: #000000;
    text-align: center;
    font-size: 12px;
    width: 100%;
    padding: 1em;
    clear:both;
}

input[type=submit] {
	font-family: "Open Sans", sans-serif;
	font-size: 1em;
	color: #ffffff;
	background-color: #990000;
	padding: 0.5em 2em;
	border: 0;
}

input[type=reset] {
	font-family: "Open Sans", sans-serif;
	font-size: 1em;
	color: #ffffff;
	background-color: #990000;
	padding: 0.5em 2em;
	border: 0;
}

input[type=text],select {
	height: 2em;
	width: 65%;
	padding: 1em;
	margin-bottom: 1em;
	vertical-align: middle;
	display: inline-block;
}

textarea {
	width: 500px;
	height: 150px;
	padding: 15px;
}

select{
	width: 65%;
    padding: 16px 20px;
    border: line;
    border-radius: 4px;
    background-color: #ffffff;
}