nav a {
	width: 100%;
}

nav a, nav a:visited, .nav-toggle {
	display: inline-block;
	background-color: #990000;
	color: #ffffff;
	padding: 1em 0em 0em 2em;
	text-decoration: none;
	-webkit-transition: background-color 0.5s;
	transition: background-color 0.5s;
}

/*
	Here we hide use .hidden and .shown to enable classes to show and hide our .nav-toggle
*/
.nav-toggle.hidden {
	visibility: hidden;
	position: absolute;	
}

.nav-toggle.shown {
	visibility: visible;
	position: relative;
}