*, *::after, *::before {
	box-sizing: border-box;
}

[class*="grid-"] {
	float: left;
	border: 0.1em solid #000000;
	min-width: 20em;
}

.grid-main {
	width: 20em;
}

.grid-logo {
	background-color: #000000;
	max-width: 20em;
}

.grid-nav {
	background-color: #990000;
	max-width: 20em;
}

.grid-content {
	max-width: 40%;
}

@media (min-width: 40em) {
	.grid-main {
		width: 100%;
	}
}

/*
.listing {

	display: -webkit-flex;
	display: -ms-flex;
	display: flex;

	-webkit-flex-wrap: wrap;
	-ms-flex-wrap: wrap;
	flex-wrap: wrap;

	align-items: stretch;

	min-width: 60em;
	background-color: #ffeecc;
	padding: 1em 1em;

}

.listing-img {
	flex-basis: 12em;
}

.listing-name {
	flex-basis: 13em;
}

.listing-description {
	flex-basis: 30em;
}
*/